*.zip
Code/runs/*
CodePass2/runs/*
*.mp4
3d/*
Articles/*
*.hdf5
*.h5
*.mat
DeconstructingGastrulation-Data/Data analysis/Data analysis/*
*.csv
*.txt
*.pptx
*.npy

!/FinalVideos/*
!/FinalVideos/Mutants/*
!/FinalVideos/InVivo/*

